* {
  background-color: black;
}

/* Fonts */
.openSans-light {
  color: white;
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}

/* End of Fonts */

.logoImage {
  width: 340px;
  padding-bottom: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  margin-top: 30vh;
  align-items: center;
  margin-bottom: 10vh;
}
.buttonSection {
  display: flex;
  flex-direction: column;
}

#sectionSelection {
  background-color: white;
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

/* Container for news stories, built for mobile first. */

.container {
  width: 100%;
  height: 1200vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  text-align: center;
  align-content: center;
  align-items: flex-end;
  object-fit: cover;
}

.gridCell {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center;
}

.storyImage {
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
  /* z-index: -1; */
}

.gridText {
  position: absolute;
  align-self: flex-end;
  padding: 13px;
  /* padding-bottom: 13px; */
  align-items: center;
  z-index: 2;
  color: white;
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  box-shadow: grey;
  width: 100%;
  word-wrap: normal;
}

@media screen and (min-width: 601px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100vw;
  }

  .header {
    display: flex;
    flex-direction: row;
  }
  .header {
    margin-bottom: 1vh;
  }
}

@media screen and (min-width: 1241px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vw;
  }

  .header {
    display: flex;
    flex-direction: row;
  }
}
